body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Arial", sans-serif;
  background-color: #111;
}

p{
  color: #FFF;
}
